/* Color CSS File and some other customizations */
body {
  color: rgb(55, 20, 78);
  background-color: rgb(252, 240, 230);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(55, 20, 78);
}
a {
  color: rgb(55, 20, 78);
}
a:hover {
  color: rgb(55, 20, 78);
}
.subscribe h2 span{
  color: rgb(55, 20, 78);
}

/* Default Theme Color Class */
.color {
  color: rgb(234, 117, 23) !important;
}
.br-color {
  background: rgb(234, 117, 23) !important;
}

/* Theme Default Button */
.btn-theme {
  background: rgb(234, 117, 23);
}
.btn-theme:hover {
  background: rgb(183, 94, 20);
}

/* Border */
.bor {
  background: rgb(234, 117, 23);
}

/* Navigation Menu */
.header .navbar {
  background-color: rgb(151, 132, 163);
}
.header .navbar .navbar-brand > h1 > i {
  color: rgb(234, 117, 23);
}
.header .navbar .navbar-nav > li > a:hover {
  background: rgb(234, 117, 23) !important;
}
.header .navbar .navbar-nav > li > a:focus {
  background: rgb(234, 117, 23) !important;
}
.header .navbar .navbar-nav > li.active > a {
  background: rgb(234, 117, 23) !important;
}
.header .navbar .navbar-toggle {
  background: rgb(234, 117, 23);
}

/* Default Heading */
.default-heading .dh-icon i {
  color: rgb(234, 117, 23);
}

/* Slider */
.tp-banner-container {
  background: rgb(234, 117, 23) url("../img/overlay.png") repeat;
  background-size: 252px 230px;
}

/* Services Block */
.services {
  background: rgb(234, 117, 23) url("../img/overlay.png") repeat;
  background-size: 252px 230px;
}

/* Team */
.team {
  background: rgb(234, 117, 23) url("../img/overlay.png") repeat;
  background-size: 252px 230px;
}
.team .tlinks a {
  color: rgb(234, 117, 23);
}
.team .tlinks a:hover {
  color: rgb(183, 94, 20);
}
.team-member .deg {
  color: rgb(55, 20, 78);
}

/* Quote two */
.quote-two .btn-xtra {
  background: rgb(234, 117, 23) !important;
  border-color: rgb(234, 117, 23) !important;
}
.quote-two .btn-xtra:hover {
  background: rgb(183, 94, 20) !important;
  border-colro: rgb(183, 94, 20) !important;
}

/* Portfolio Block */
.portfolio .portfolio-content .p-hover i {
  background: rgb(234, 117, 23);
}

/* About Us Block */
.about .about-heading {
  background: rgb(234, 117, 23) url("../img/overlay.png") repeat;
  background-size: 252px 230px;
}
.about .about-logo i {
  color: rgb(183, 94, 20);
}
.about .about-inner {
  background: rgb(234, 117, 23) url("../img/overlay.png") repeat;
  background-size: 252px 230px;
}
.about .about-inner .per {
  color: rgb(234, 117, 23);
}
/* Subscribe */
.subscribe .heading i {
  background: rgb(234, 117, 23);
}
/* Blog Block */
.blog .grid .grid-entry .grid-img i {
  background: rgb(234, 117, 23) !important;
}
.blog .grid .grid-entry .grid-quote {
  background: rgb(234, 117, 23);
}
.blog .grid .grid-entry .read-more i {
  color: rgb(234, 117, 23) !important;
}

/* CTA Block */
.cta {
  background: rgb(234, 117, 23) url("../img/overlay.png") repeat;
  background-size: 252px 230px;
}

/* Contact Block */
.contact .contact-info .info-item i {
  color: rgb(234, 117, 23);
}
.contact form label {
  color: rgb(234, 117, 23);
}
.contact form input.error {
  border-color: rgb(234, 117, 23);
}
.contact form textarea.error {
  border-color: rgb(234, 117, 23);
}

/* Registry (Clients) */
.client .client-item h2 {
  max-width:240px;
  width:100%;
  margin:0 auto;
  padding:32px 5px 0px 5px;
}

/* Registry (Clients) */
.client .client-item2 h2 {
  max-width:240px;
  width:100%;
  margin:0 auto;
  padding:22px 5px 0px 5px;
}

.client .client-item .qr {
  width: 33%;
  padding: 0;
}
